{# This component displays a hero section, which should greet the user in the index.html #}
{# TODO: Change background to a video #}
<section id="hero">
   <link rel="stylesheet"
         href="{{ url_for('static', filename='css/hero.css') }}" />
   <div class="d-flex  justify-content-center">
      <div class="video-container">
         <video autoplay loop muted playsinline>
            <source src="{{ url_for('static', filename='img/intro.webm') }}"
                    type="video/webm">
            {{ _("Tu dispositivo no soporta el video de fondo :(") }}
         </video>
         <div class="darken-overlay"></div>
      {#   <a href="https://nerdear.la/qr" class="custom_button_qr">{{ _("Ingresá con QR") }}</a> #}
         <div class="logo"></div>
         <p class="blurb no-border text-center">{{ _("24 al 28 de septiembre, 2024 - Buenos Aires") }}<br /><br />
            <a href="http://nerdear.la/cfp" class="custom_button_qr">{{ _("¡Envía tu propuesta!") }}</a>
            <a href="https://www.youtube.com/watch?v=IdOO3R_1F08&list=PLTTdzfRyGY1t7ptQDKXt9D4CaQvwGPI-n" class="custom_button_vivo">{{ _("¡Revive Chile 2024!") }}</a>
         </p>
         </div>
   </div>
</section>