{# Este componente muestra la ubicación del evento con un mapa de Google #}
<section id="ubication" class="py-5">
   <div class="container">
      <h2 class="fw-bold"
          style="background-color:#2E4053;
                 color:white;
                 padding:.5rem .5rem .5rem 6rem;
                 width:max-content;
                 margin-left:-6rem">{{ _("Evento presencial") }}</h2>
      <p class="fs-4 mb-5 lh-sm">
         <a href="https://www.cckonex.org/"
            class="link-dark"
            target="_blank"
            rel="noopener noreferrer">{{ _("Ciudad Cultural Konex") }}</a>, {{ _("con streaming en vivo para todo el mundo.") }}
         <br>
         {{ _("Sarmiento 3131, C1196 Ciudad Autónoma de Buenos Aires.") }}
      </p>
      {# Explanation for why the iframe is repeated https://stackoverflow.com/a/72136495/15965186 #}
      {# Display me when more than sm #}
      <div class="d-none d-sm-block ratio ratio-21x9">
         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13135.619080571425!2d-58.4105342!3d-34.6065695!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb577e34f9e55%3A0x6dd823092cb367d9!2sCiudad%20Cultural%20Konex!5e0!3m2!1sen!2sar!4v1715471914395!5m2!1sen!2sar"
                 allowfullscreen=""
                 title="Ubicacion Nerdearla Buenos Aires 2024"
                 loading="lazy"
                 referrerpolicy="no-referrer-when-downgrade"
                 style="outline: 1px solid white;
                        outline-offset: 2rem"></iframe>
      </div>
      {# Display me when less than sm#}
      <div class="d-block d-sm-none ratio ratio-1x1">
         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13135.619080571425!2d-58.4105342!3d-34.6065695!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb577e34f9e55%3A0x6dd823092cb367d9!2sCiudad%20Cultural%20Konex!5e0!3m2!1sen!2sar!4v1715471914395!5m2!1sen!2sar"
                 allowfullscreen=""
                 loading="lazy"
                 referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
   </div>
</section>
