{# Este componente muestra la ubicación del evento con un mapa de Google #}
<section id="ubication" class="py-5">
   <div class="container">
      <h2 class="fw-bold"
          style="background-color:#2E4053;
                 color:white;
                 padding:.5rem .5rem .5rem 6rem;
                 width:max-content;
                 margin-left:-6rem">{{ _("Evento presencial") }}</h2>
      <p class="fs-4 mb-5 lh-sm">
         <a href="https://gam.cl/"
            class="link-dark"
            target="_blank"
            rel="noopener noreferrer">{{ _("Centro Gabriela Mistral") }}</a>, {{ _("con streaming en vivo para todo el mundo.") }}
         <br>
         {{ _("Av. Alameda Libertador Bernardo O'Higgins 227, Santiago, Región Metropolitana.") }}
      </p>
      {# Explanation for why the iframe is repeated https://stackoverflow.com/a/72136495/15965186 #}
      {# Display me when more than sm #}
      <div class="d-none d-sm-block ratio ratio-21x9">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.3786999960917!2d-70.64237502348146!3d-33.439438896949746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c59b6ee5a887%3A0x43a746bfa98d9592!2sCentre%20Gabriela%20Mistral!5e0!3m2!1sen!2scl!4v1697755793826!5m2!1sen!2scl"
                 allowfullscreen=""
                 title="Ubicacion Nerdearla Chile 2024"
                 loading="lazy"
                 referrerpolicy="no-referrer-when-downgrade"
                 style="outline: 1px solid white;
                        outline-offset: 2rem"></iframe>
      </div>
      {# Display me when less than sm#}
      <div class="d-block d-sm-none ratio ratio-1x1">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.3786999960917!2d-70.64237502348146!3d-33.439438896949746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c59b6ee5a887%3A0x43a746bfa98d9592!2sCentre%20Gabriela%20Mistral!5e0!3m2!1sen!2scl!4v1697755793826!5m2!1sen!2scl"
                 allowfullscreen=""
                 loading="lazy"
                 referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
   </div>
</section>
