{# This component displays last year Nerdearla recap #}
<section id="recap" class="y-spaced-section">
   <div class="container">
      <h1>{{ _("Recap del año pasado") }}</h1>
      <div class="ratio ratio-16x9">
         <iframe src="https://www.youtube-nocookie.com/embed/LEvRHxyekKQ?rel=0"
                 title="YouTube video player"
                 frameborder="0"
                 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                 allowfullscreen></iframe>
      </div>
   </div>
</section>
