{# Este componente muestra algunas estadísticas sobre Nerdearla y sus números, incluyendo la última edición #}
<section id="statistics" class="bg-container">
   <link rel="stylesheet"
         href="{{ url_for('static', filename='css/statistics.css') }}">
   <div class="container d-flex flex-column">
      <img src="{{ url_for('static', filename='img/sticker-nasa.png') }}"
           alt="nasa"
           class="sticker sticker1">
      <img src="{{ url_for('static', filename='img/sticker-this-is-fine.png') }}"
           alt="this is fine"
           class="sticker sticker2">
      {# <h1 class="display-1 mx-auto">{{ _("Nerdearla en números") }}</h1> #}
      <h2 class="mx-auto my-4 bg-black px-5 title-container">{{ _("Así fue nuestro evento de 2023") }}</h2>
      <div class="css-tabs">
         <input class="state"
                type="radio"
                title="tab-one"
                name="tabs-state"
                id="tab-one"
                checked>
         <input class="state"
                type="radio"
                title="tab-two"
                name="tabs-state"
                id="tab-two">
         <input class="state"
                type="radio"
                title="tab-three"
                name="tabs-state"
                id="tab-three" />
         <input class="state"
                type="radio"
                title="tab-four"
                name="tabs-state"
                id="tab-four">
         <div class="tabs flex-tabs">
            <label for="tab-one" id="tab-one-label" class="tab">10.000</label>
            <label for="tab-two" id="tab-two-label" class="tab">25K</label>
            <label for="tab-three" id="tab-three-label" class="tab">200</label>
            <label for="tab-four" id="tab-four-label" class="tab">100%</label>
            <div id="tab-one-panel" class="panel active">
               <p>{{ _("Más de 10.000 participantes presenciales en Buenos Aires.") }}</p>
            </div>
            <div id="tab-two-panel" class="panel">
               <p>{{ _("Más de 25.000 participantes online durante las conferencias.") }}</p>
            </div>
            <div id="tab-three-panel" class="panel">
               <p>{{ _("Más de 200 speakers provenientes de 15 países.") }}</p>
            </div>
            <div id="tab-four-panel" class="panel">
               <p>{{ _("El evento es") }} 100% {{ _("gratuito, desde el día 0.") }}</p>
            </div>
         </div>
      </div>
   </div>
</section>
