.about {
	position: relative;
}
.about .main-title {
	color: white;
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: 0.2em;
	line-height: 0.85;
	width: 100%;
}
.about iframe {
	margin: 1rem 2rem 2rem;
	width: calc(100% - 4rem);
}
.about p {
	color: white;
	font-size: 1.3rem;
	line-height: 1.3;
	max-width: 52ch;
	padding: 2rem;
	position: relative;
}
.about p.about-2 {
	background-color: black;
	max-width: 42ch;
}
.sticker-3 {
	font-family: "Rift Soft";
	font-weight: bold;
	mix-blend-mode: hard-light;
	position: absolute;
	bottom: 0;
	right: 2rem;
	opacity: 0.9;
	width: 125px;
}

.about p.about-1 {
	border: 1px solid white;
}
.about p.about-1 span {
	isolation: isolate;
	display: inline-block;
	margin: -2rem 0;
}

.about p.about-1::before {
	content: "";
	background-color: black;
	display: block;
	height: 100%;
	position: absolute;
	top: -20px;
	left: -20px;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.about .main-title {
		font-size: 6rem;
		letter-spacing: 0.4em;
		width: 100%;
	}
	.about p.about-2::before {
		content: "";
		background: url("data:image/svg+xml,%3Csvg viewBox='0 0 430 150' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='430' height='150' overflow='visible' fill='none' stroke='white'/%3E%3C/svg%3E")
			no-repeat;
		display: block;
		height: 100%;
		pointer-events: none;
		position: absolute;
		top: 20px;
		left: -20px;
		width: 120%;
	}
}

@media screen and (min-width: 992px) {
	.about .main-title {
		font-size: 8rem;
		width: 100%;
	}
	.about p.about-1 span {
		position: relative;
		top: -20px;
		left: -20px;
		margin: -1rem 2rem;
	}
}

@media screen and (min-width: 1200px) {
	.about .main-title {
		font-size: 9rem;
		width: 80%;
	}
	.about p.about-2 {
		margin-top: -23rem;
	}
	.about iframe {
		margin: 4rem 3rem 2rem;
	}
}
