.bg-texture {
	position: relative;
}
.bg-texture::before {
	content: "";
	background-image: url(../img/bg-texture.png);
	background-size: cover;
	background-position: top center;
	background-repeat: repeat-x;
	border-bottom: 1px solid;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.countdown {
	padding: 1rem 0 3rem;
}
.countdown h2,
.countdown h3,
.timer-wrapper h2 {
	font-family: "Rift Soft";
	font-weight: bold;
	letter-spacing: 0.05em;
	line-height: 1;
}
.countdown h3 {
	color: var(--color);
	font-size: 2.5rem;
}
.countdown p {
	font-size: 1.2rem;
	margin: 0 auto;
	width: fit-content;
}
.highlight-yellow {
	--color: var(--nerd-yellow);
}
.highlight-yellow span {
	color: var(--color);
}
.highlight-yellow {
	background: url('data:image/svg+xml,<svg width="941" height="36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M940 36V1H1v35" stroke="%23FFBA00" stroke-width="2"/></svg>')
		no-repeat center 10rem;
	background-size: 80%;
	padding-bottom: 2rem;
}

.highlight-red {
	--color: var(--nerd-red);
}
.highlight-green {
	--color: var(--nerd-green);
}
.border-round {
	background-color: var(--nerd-dark-blue);
	border: 2px solid var(--color);
	border-radius: 50px;
	color: white;
	line-height: 1;
	padding: 0.4rem 1.2rem;
}
.timer-wrapper .custom_button {
	background-color: var(--nerd-yellow);
	font-size: 1.8rem;
	margin-top: 2rem;
	margin-bottom: -2rem;
	padding: 0.6rem 2.5rem;
}
.timer-wrapper .custom_button:hover {
	background-color: var(--nerd-green);
}

.timer-wrapper h2 {
	margin: 0 auto;
	max-width: 20ch;
}
.timer-item {
	margin: 0px 20px;
}

.timer-number {
	width: 120px;
	height: 130px;
	border-radius: 10px;
	text-align: center;
	line-height: 130px;
	font-weight: bolder;
	color: white;
	font-size: 3.5rem;
	margin-bottom: 5px;
	margin-top: 15px;
	overflow: hidden;
	user-select: none;
}
.timer-info {
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: "Rift Soft";
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
	user-select: none;
}

@media screen and (min-width: 576px) {
	.countdown h3 {
		font-size: 3.5rem;
	}
	.countdown p {
		font-size: 1.5rem;
	}
}

/*TODO: Cambiar esto por las tramas*/
/*
.timer-number.days {
	background: var(--nerd-red); 
	
}
.timer-number.hours {
	background: var(--nerd-green);
}
.timer-number.minutes {
	background: var(--nerd-yellow);
}
.timer-number.seconds {
	background: var(--nerd-light-blue);
} 
*/
