@media screen and (max-width: 576px) {
	.footer {
		text-align: center;
	}
	.footer footer {
		padding: 1rem !important;
	}
	footer p {
		width: 100%;
	}
	footer > div {
		margin: 1rem;
		width: 100%;
	}
	footer > ul {
		justify-content: center;
		width: 100%;
	}
}
