/* The purpose of this file is defining global variables that are going to be used across the whole website,
like the colors and fonts */
:root {
	/* Definition of Nerdearla colors */
	/* PS: I named the colors myself, maybe their names are not exactly right */
	--nerd-red: #ff323c;
	--nerd-green: #00aca8;
	--nerd-yellow: #ffba00;
	--nerd-black: #000000;
	/* nerdearla secondary palette */
	--nerd-orange: #ff2d00;
	--nerd-mustard: #ff8d00;
	--nerd-persian-green: #00a7a3;
	--nerd-light-blue: #00b6ff;
	--nerd-blue: #236ee2;
	--nerd-purple: #7a00db;
	--nerd-dark-blue: #34495e;
	--nerd-gray: #849f9d;
	--nerd-lightgrey: #d8e3e6;
	--nerd-lightgreen: #00b253;
}
