{# Esta página contiene información sobre UADE Deep Racer Grand Prix #}
{% extends "base.html" %}
{% block content %}
   <style>
    h1{
      color: #fff;
      font-size: 5rem;
      margin: 0 auto 2rem;
      padding-bottom: 4rem;
    }
    h3 {
      color: #1a3067;
      font-family: "Rift Soft";
      font-size: 3rem;
      margin: 2rem auto 1rem;
      text-align: center;
    }
    p, ul li {
      color: #333;
      font-size: 1.2rem;
    }
    ul li {
      color: #1a3067;
    }
    ul {
      margin: 2rem auto;
    }
    .top {
      background: #1a3067;
      text-align: center;
    }
    .top img {
      filter: invert(1) brightness(2);
      max-width: 450px;
      width: 100%;
    }
    .image-column {
      margin: auto;
      max-width: 1200px;
    }
    .image-column img {
      filter: contrast(1.2);
      object-fit: cover;
      object-position: bottom;
      max-height: 600px;
      width: 100%;
    }
    .container {
      max-width: 920px;
    }
    .full-width {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
    }
    .text-column, .image-column {
      padding: 0 2rem;
      box-sizing: border-box;
    }
  </style>


  <section id="uade-deep-racer">
        <div class="top">
          <img decoding="async"
               loading="lazy"
               src="/static/img/sponsors/uade.png" alt="Fundación UADE"
           />
          <h1>{{ ("Deep Racer Grand Prix") }}</h1>
        </div>
                
    <div class="container">

        <div class="full-width">
           <h3>{{ _("¡Aprendé, entrená y competí con tu modelo de machine learning!") }}</h3>
            <p>
               {{ _("AWS DeepRacer te ofrece una forma interesante y divertida de comenzar a utilizar el aprendizaje por refuerzo (RL). El RL es una técnica avanzada de aprendizaje automático (ML) que adopta un enfoque muy diferente respecto de otros modelos de ML. Su principal cualidad consiste en aprender comportamientos muy complejos sin necesidad de utilizar datos de entrenamiento etiquetados y en tomar decisiones a corto plazo, al mismo tiempo que optimiza el sistema para cumplir objetivos a largo plazo.") }}
               <br /><br />
               <strong>{{ _("La Universidad Argentina de la Empresa (UADE) organiza una competencia de AWS DeepRacer en el marco de Nerdearla, los días 28, 29 y 30 de septiembre de 2023. ") }}</strong>
               <br /><br />
               {{ _("La competencia es para equipos de 3 personas que quieran demostrar sus habilidades en el desarrollo de modelos de aprendizaje automático para autos de carrera autónomos. ") }}
               <br />
               {{ _("Para participar, deben registrarse en") }} <a href="https://forms.office.com/r/mMTXXfi3TE">este formulario</a> {{ _("y aceptar los términos y condiciones de la competencia. Finalizada la inscripción, se enviará por mail los materiales y links.") }}
            </p>
       </div>
    </div>

        <div class="image-column">
          <div style="text-align: center;">
              <img decoding="async"
                  loading="lazy"
                  src="/static/img/sponsors/uade_deep_racer_track.jpeg"
              />
          </div>
         </div>

      <div class="container">
        <div class="text-column">

          <h3>{{ _("APRENDÉ") }}</h3>
         <p>
            {{ _("UADE ofrecerá un workshop virtual no-arancelado con una duración de 2hs, en modalidad virtual el <strong>18 de septiembre a las 16hs</strong> y comprenderá los siguientes temas: ") }}
         </p>
          <ul>
            <li>
               {{ _("Introducción al aprendizaje por refuerzos") }}
            </li>
            <li>
               {{ _("DeepRacer: Introducción a los autos y modos de funcionamiento") }}
            </li>
            <li>
               {{ _("DeepRacer: Función de recompensa / Espacio de acción") }}
            </li>
         </ul>
         <p>
         {{ _("Recordá que para participar del workshop y del torneo, deben registrarse en") }} <a href="https://forms.office.com/r/mMTXXfi3TE">este formulario</a> {{ _("y aceptar los términos y condiciones de la competencia. Finalizada la inscripción, se enviará por mail los materiales y links.") }}
         <br />
          {{ _("Durante el primer dia de Nerdearla, también se va a dictar el mismo taller, para confirmar el horario revisá ") }} <a href="https://nerdear.la/es/agenda/">la agenda del evento</a> {{ _("en la sección de workshops.") }}
         </p>
        <p>
            {{ _("El 21/9 a las 16hs se realizará un simulacro de carrera.") }}
        </p>
        <p>
            {{ _("Quienes participen en el workshop podrán armar sus propios modelos y entrenarlos para competir en una carrera virtual.") }}
            <br />
            {{ _("El taller será impartido por Matias Kreder y Tomas Bond, graduado y estudiante de UADE respectivamente. Matías es finalista de la liga internacional de Deep Racer.") }}
        </p>
        <h3>{{ _("ENTRENÁ") }}</h3>
        <p>
            {{ _("El registro estará abierto hasta el martes 26 de septiembre de 2023. Una vez registrados, los equipos tendrán tiempo para entrenar sus modelos y enviarlos por mail hasta el martes 26/9 a las 23.59 horas.") }}
            <br />
            {{ _("El entrenamiento del modelo se realiza en modalidad virtual accediendo a la página ")}} <a href="https://student.deepracer.com/home">Student Deep Racer</a>.  
        </p>
        <h3>{{ _("COMPETÍ") }}</h3>
        <p>
            {{ _("La competencia consta de dos rondas clasificatorias que se realizarán el jueves 28 y el viernes 29 de septiembre de 15 a 18hs en Nerdearla (Ciudad Cultural Konex). Los corredores deben participar presencialmente para manejar la intensidad de energía de sus autos. ") }}
            {{ _("En cada ronda, competirán 12 equipos. Luego, los equipos con los mejores tiempos avanzarán a la final, el sábado 30 de septiembre en el mismo lugar. ") }}
            <br />
            {{ _("Tanto las clasificatorias como la final serán carreras de 3 minutos. El equipo que registre el menor tiempo por vuelta será el ganador.") }}
         </p>
        </div>

      </div>
   </section>
{% endblock content %}




  
